<!DOCTYPE HTML>
<html>
<head>
    <title>Your Cart</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/cart.css') }}/>
    <link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }}/>
</head>
<body>
<div id="title">
    <a href="/">
        <img id="logo" src={{ url_for('static', filename='images/logo.png') }}/>
    </a>
    <div id="cart" align="right">
        <a class="link" href="/cart" style="color: white">
            <img src={{ url_for('static', filename='images/shoppingCart1.png') }} id="cartIcon"/>
            <span style="color: white;">VIEW CART: {{ noOfItems }} </span>
        </a>
    </div>
</div>
<div id="cartItems">
    <h2 style="margin-left: 20px;">Shopping Cart</h2>
    <div id="tableItems">
        {% for product in products %}
            <div>
                <hr id="seperator">
                <div id="itemImage">
                    <img src={{ url_for('static', filename='uploads/'+product.image) }} id="image"/>
                </div>
                <div id="itemName">
                    <span id="itemNameTag">{{ product.name }}</span><br>
                    <a href="/removeFromCart?productId={{ product.id }}">Remove</a>
                </div>
                <div id="itemPrice">
                    ${{ product.price }}
                </div>
            </div>
        {% endfor %}
        <hr id="seperator">
        <div id="total">
            <span id="subtotal">Subtotal</span> : ${{ totalPrice }}
        </div>
    </div>
</div>
<div id="cart">
    <a class="link" href="/checkout" style="color: white">
        <span style="color: #007041; font-size: 20px; font-weight: bold">Proceed to checkout</span>
    </a>
</div>
</body>
</html>

