<!DOCTYPE HTML>
<html>
<head>
<title>Product Description</title>
<link rel="stylesheet" href={{url_for('static', filename='css/productDescription.css')}} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css')}} />
</head>
<body>
<div id="title">
	<a href="/">
		<img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
	</a>
	<div id="cart">
		<a class="link" href="/cart" style="color: white">
			<img src={{url_for('static', filename='images/shoppingCart1.png')}} id="cartIcon" />
			<span style="color: white;">VIEW CART: {{noOfItems}} </span>
		</a>
	</div>
</div>
<div id="display">
	<div id="productName">
		<h1>{{data[1]}}</h1>
	</div>
	<div>
		<img src={{url_for('static', filename='uploads/'+data.image) }} id="productImage"/>
	</div>

	<div id="productDescription">
        <a href="/addToCart?productId={{request.args.get('productId')}}">Add to Cart</a>
		<h2>Details</h2>
		<table id="descriptionTable">
			<tr>
				<td>Name</td>
				<td>{{data.name}}</td>
			</tr>
			<tr>
				<td>Price</td>
				<td>${{data.price}}</td>
			</tr>
			<tr>
				<td>Stock</td>
				<td>{{data.stock}}</td>
			</tr>
		</table>
		<h2>Description</h2>
		<p>{{data.description}}</p>
	</div>
</div>
</body>
</html>

